 <div class="col-xs-6 col-sm-3 sidebar-offcanvas"  role="navigation" id="side-area">Sidebar</div>
<div class="col-xs-12 col-sm-9" data-spy="scroll" data-target="#sidebar-nav" id="main-area">Main</div>