</div><form id="login_form" action="/sessions" method="post" class="form-horizontal">
	<fieldset>
		<div class="alert alert-error bg-danger" style="display:none;color:red;"></div>
		<legend>Login</legend>
		<div class="form-group">
		<label for="email" class="control-label ">Email:</label>
		<div class="controls">
		<input type="text" name="email" id="email" placeholder="email" class="form-control"/>
		</div>
		</div>
		<div class="form-group">
		<label for="password" class="control-label ">Password:</label>
		<div class="controls">
		<input type="password" name="password" id="password" placeholder="Password" class="form-control"/>
		</div>
		</div>
		<button type="submit" class="btn">&nbsp;Submit&nbsp;</button>
	</fieldset>	
</form>
</div>